doctype html
html(lang="tr")
  include ../partials/head

  body
    include ../partials/navbar

    .container
      nav.mt-3(aria-label="breadcrumb")
        ol.breadcrumb
          h3.li.breadcrumb-item: a(href="/adminpanel/users") Users
          h3.li.breadcrumb-item: a(href="/adminpanel/contents")  Contents
          h3.li.breadcrumb-item: a(href="/adminpanel/addcontents")  Add Content

    script(src="../static/javascripts/script.js")