doctype html
html(lang="tr")
  include ../partials/head

  body
    include ../partials/navbar

    .container
      nav.mt-3(aria-label="breadcrumb")
        ol.breadcrumb

          h3.li.breadcrumb-item: a(href="/adminpanel/users") Users
          h3.li.breadcrumb-item.active(aria-current="page") Contents
          h3.li.breadcrumb-item: a(href="/adminpanel/addcontents") Add Content

      .container
      h1 Content List
      table.table
        thead
          tr
            th Title
            th Content
            th Image
        tbody
          each content in contents
            tr
              td= content.title
              td= content.content
              td
                img(src=`../static/uploads/${content.imagePath}`, alt='Content Image', style='width: 100px; height: 70px;')

    script(src="../static/javascripts/script.js")