nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.p-2
  a.navbar-brand.ms-2(href="/") Bağış Yolu
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation" style="background-color : #5454b6; border: none;")
    span ⏬
  .collapse.navbar-collapse#navbarNav.ms-2
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="/") Anasayfa
    ul.navbar-nav.ml-auto.ms-auto
      if isAuth
        li.nav-item
          a.nav-link(href="/profil") #{fullName}
        li.nav-item
          a.nav-link(href="/logout") Çıkış
      else
        li.nav-item
          a.nav-link(href="/login") Giriş
        li.nav-item
          a.nav-link(href="/register") Kayıt