.navbar
      .navbar-wrapper
        .logo-wrapper
          h1.logo
            a(href="/") BAĞIŞ YOLU
        .profile-container
          .toggle
            i.bi.bi-moon-fill.toggle-icon
            i.bi.bi-brightness-high-fill.toggle-icon
            .toggle-ball
          .login-register-links
            if isAuth
              a(href="/profil") #{fullName}
              a(href="/logout") Logout
            else
              a(href="/login") Login
              a(href="/register") Register