doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bağış Yolu
    link(rel="stylesheet", href="../static/stylesheets/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  body
    include ./partials/navbar
    .container
      .content-wrapper
        .featured-container
          img.content-title(src="../static/images/indir.png", alt="")
          p.content-info Kızılay, Türk Kızılayı'nın kısaltmasıdır. 1868'de Hilal-i Ahmer Cemiyeti olarak kurulan bu sivil toplum kuruluşu, Türkiye'de ve dünyada insani yardım faaliyetleri yürütür. Afet yardımları, kan bağışı kampanyaları, sosyal yardımlar gibi çeşitli alanlarda faaliyet gösterir. Türk Kızılayı, uluslararası Kızılhaç ve Kızılay Hareketi'nin bir parçasıdır.
          .content-buttons
            button.play-button
              i.bi.bi-star
              | Beğen
            a(href="https://www.kizilay.org.tr/ms/filistin/")
              button.info-button
                i.bi.bi-info-circle
      .movie-list-container
        h1.movie-list-title Diğer Sosyal Yardım Kuruluşları
        .movie-list-wrapper
          ul.movie-list
            each content in contents
              li.movie-item
                a(href=`/content/${content.slugUrl}`)
                  img.movie-item-img(src=`../static/uploads/${content.imagePath}`, alt="image")
                  .movie-item-info
                    span.movie-item-title= content.title
          i.bi.bi-chevron-right.arrow
    script(src="../static/javascripts/script.js")
